/* src/styles/Loader.css */

/* Loader container */
.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }
  
  /* Loader animation */
  .loader {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 123, 255, 0.3);
    border-top: 4px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
  }
  
  /* Loading text */
  .loader-container p {
    font-size: 1rem;
    color: #333;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Keyframe animation for spinner */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  